.infinite-feed {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__controls {
    margin-bottom: 20px;
  }

  &__viewport {
    height: 90vh;
    width: 100%;
  }

  &__item {
    height: 650px;
    display: flex;
    justify-content: center;
    margin: 10px 0;

    &__content {
      max-width: 400px;

      &__header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
    }
  }
}
